.item-about {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 16px;
    background: $light-blue;
    svg {
        stroke: $dark-blue;
        flex: 0 0 152px;
        width: 152px;
        height: 152px;
        transform: rotate(-9.052deg) scale(1.06);
        position: relative;
        left: -5px;
        bottom: -20px;
    }
    h4 {
        padding: 24px 32px 24px 24px;
    }
    @media (max-width: $bp2) {
        svg {
            flex: 0 0 142px;
            width: 142px;
            height: 142.5px;
        }
        h4 {
            padding: 16px;
        }
    }  
    @media (max-width: $bp3) {
        svg {
            flex: 0 0 130px;
            width: 130px;
            height: 130px;
        }
    }
    @media (max-width: $bp5) {
        svg {
            flex: 0 0 100px;
            width: 100px;
            height: 100px;
        }
        h4 {
            padding: 12px;
        }
    } 
}
.main-about {
    .container {
        display: grid;
        grid-template-columns: 7fr 5fr;
        gap: 24px;
    }
    .item-about {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0!important
        };
    }
	&__content {
        min-height: 100%;
        padding: 38px 60px 60px;
        border-radius: 16px;
        background: $light-blue;
        img {
            width: 100%;
            object-fit: contain;
            margin-bottom: 28px;
        }
        h3 {
            margin-bottom: 16px;
        }
        p {
            margin-bottom: 24px;
        }
        .main-link {
            svg {
                transform: rotate(0);
            }
        }
    }
    @media (max-width: $bp2) {
        .container {
            gap: 16px;
        }
        .item-about {
            margin-bottom: 16px;
        }
        &__content {
            padding: 38px;
            img {
                margin-bottom: 16px;
            }
            p {
                margin-bottom: 16px;
            }
        }
    }
    @media (max-width: $bp3) {
        .container {
            display: block;
        }
        .item-about {
            margin-bottom: 0;
        }
        &__content {
            margin-bottom: 16px;
        }
        &__items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }
    }
    @media (max-width: $bp4) {
        &__items {
            grid-template-columns: 1fr;
        }
        &__content {
            padding: 28px;
        }
    }
    @media (max-width: $bp6) {
        &__content {
            padding: 24px 16px;
            margin-bottom: 12px;
        }
        &__items {
            gap: 12px;
        }
    }
}
.item-why {
    padding: 24px 48px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background: $light-blue;
    svg {
        stroke: $dark-blue;
        flex: 0 0 140px;
        width: 140px;
        height: 140px;
        margin-right: 24px;
    }
    @media (max-width: $bp2) {
        padding: 16px 32px;
        svg {
            flex: 0 0 120px;
            width: 120px;
            height: 120px;
            margin-right: 16px;
        }
    }
    @media (max-width: $bp3) {
        padding: 12px 16px;
        svg {
            flex: 0 0 100px;
            width: 100px;
            height: 100px;
        }
    }
    @media (max-width: $bp5) {
        padding: 8px 12px;
        svg {
            flex: 0 0 90px;
            width: 90px;
            height: 90px;
            margin-right: 12px;
        }
    }
}
.main-why {
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    @media (max-width: $bp2) {
        &__items {
            gap: 16px;
        }
    }
    @media (max-width: $bp4) {
        &__items {
            grid-template-columns: 1fr;
        }
    }
    @media (max-width: $bp6) {
        &__items {
            gap: 12px;
        }
    }
}
.col-about {
    display: grid;
    grid-template-columns: 32.14% 1fr;
    align-items: start;
    &:nth-child(2n) {
        grid-template-columns: 1fr 32.14%;
        .col-about__img {
            order: 1;
        }
    }
    h3 {
        margin-bottom: 24px;
    }
    &__img {
        img {
            width: 100%;
            object-fit: contain;
            border-radius: 24px;
        }
    }
    &__content {
        padding: 16px 60px;
        align-self: center;
    }
    @media (max-width: $bp1) {
        h3 {
            margin-bottom: 16px;
        }
    }
    @media (max-width: $bp2) {
        &__content {
            padding: 16px 38px;
        }
    }
    @media (max-width: $bp3) {
        margin-bottom: 24px;
        grid-template-columns: 40% 1fr;
        &:nth-child(2n) {
            grid-template-columns: 1fr 40%;
            .col-about__content {
                padding: 0 24px 0 0;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &__content {
            padding: 0 0 0 24px;
        }
    }
    @media (max-width: $bp4) {
        display: block;
        &__img {
            max-width: 350px;
            margin: 0 auto 16px;
            img {
                border-radius: 16px;
            }
        }
        &__content {
            padding: 0;
            text-align: center;
        }
    }
}
.about {
    &__top {
        min-height: 460px;
        padding: 30px;
        border-radius: 24px;
        background: $light-blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img {
        flex: 0 0 56.11%;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__content {
        max-width: 509px;
        padding-left: 30px;
        margin-right: 24px;
        h1 {
            margin-bottom: 24px;
        }
    }
    @media (max-width: $bp1) {
        &__top {
            min-height: 396px;
        }
        &__content {
            max-width: 460px;
            padding-left: 0;
            h1 {
                margin-bottom: 16px;
            }
        }
        &__img {
            flex: 0 0 52%;
        }
    }
    @media (max-width: $bp3) {
        &__top {
           min-height: 0;
           flex-direction: column-reverse;
        }
        &__content {
            max-width: none;
            margin: 16px 0 0;
        }
    }
    @media (max-width: $bp4) {
        &__top {
           border-radius: 16px;
        }
    }
    @media (max-width: $bp6) {
        &__top {
            padding: 24px 16px;
        }
    }
}

