.articles {
    .item-event {
        padding: 22px;
        @media (max-width: $bp2) {
           padding: 16px;
        }
        @media (max-width: $bp7) {
           padding: 12px;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        @media (max-width: $bp2) {
            gap: 16px;
        }
        @media (max-width: $bp6) {
            gap: 8px;
        }
    }
}
