.breadcrumbs {
    padding-top: 45px;
    margin-bottom: 52px;
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li {
            color: $gray;
            margin-bottom: 8px;
            font-size: 16px;
            display: flex;
            align-items: center;
            &:after {
                content: "";
                display: block;
                flex: 0 0 20px;
                width: 20px;
                height: 1px;
                background: $gray;
                margin: 0 4px;
            }
            &:last-child {
                color: $dark-blue;
                &:after {
                    display: none;
                }
            }
            a {      
                color: inherit;
                position: relative; 
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 3px;
                    width: 100%;
                    height: 1px;
                    background: $gray;
                    transition: all .6s linear;
                }
                &:hover::after {
                    animation: 1s linear border-link;
                }
            }
        }
    }
    @media (max-width: $bp3) {
        margin-bottom: 29px;
    }
}
