.catalog {
    h1 {
        margin-bottom: 24px;
    }
    .main-btn {
        min-width: 260px;
    }
    &__content {
        max-width: 66.2%;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 24px;
        margin-bottom: 24px;
    }
    @media (max-width: $bp2) {
        &__items {
            gap: 16px;
            margin-bottom: 16px;
        }
        &__content {
            max-width: 807px;
        }
    }
    @media (max-width: $bp3) {
        &__items {
            grid-template-columns: repeat(3,1fr);
        }
    }
    @media (max-width: $bp4) {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: $bp6) {
        &__items {
            gap: 8px;
            margin: 0 auto 16px;
        }
        .main-btn {
            min-width: 250px;
        }
    }
    @media (max-width: $bp7) {
        &__items {
            grid-template-columns: 1fr;
            max-width: 250px;
            margin: 0 auto 16px;
        }
    }
}
.card {
    display: block;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    &:after, &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 16px;
        pointer-events: none;
        transition: all .3s linear;
        z-index: 2;
    }
    &:before {
        border: 1px solid $powder-blue;
    }
    &:after {
        border: 2px solid transparent;
    }
    &:hover {
        mix-blend-mode: darken;
        &:before,&:after {
            border-color: $dark-blue;
        }
    }
    .media-contain {
        padding-top: 96.38%;
        background-color: #fff;
    }
    h5 {
        color: $maincolor;
    }
    &__labels {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        top: 16px;
        left: 16px;
        right: 16px;
        margin: 0 -6px -6px;
        span {
            display: block;
            font-size: 18px;
            color: $dark-blue;
            padding: 8px 14px;
            border-radius: 48px;
            background: #d4e1ff;
            margin: 0 6px 6px;
            @media (max-width: $bp1) {
                font-size: 16px;
              }
        }
    }
    &__content {
        padding: 8px 24px 32px;
    }
    &__price {
        margin-bottom: 8px;
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
        .h5 {
            color: $light-gray;
            margin-left: 8px;
        }
        .h5 + .h4 {
            color: $red;
        }
    }
    @media (max-width: $bp2) {
        &__labels {
            left: 12px;
            top: 12px;
            right: 12px;
            margin: 0 -4px -4px;
            span {
                padding: 4px 12px;
                border-radius: 32px;
                margin: 0 4px 4px;
            }
        }
        &__content {
            padding: 8px 16px 24px;
        }
    }
    @media (max-width: $bp4) {
        h5 {
            max-width: 230px;
        }
        &:after {
            border-width: 1px;
        }
        &__labels span {
            font-size: 14px;
        }
    }
    @media (max-width: $bp6) {
        &__content {
            padding: 16px 8px;
        }
    }
}

