.search {
    width: 100%;
    position: relative;
    .search-results {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    @media (max-width: $bp2) {
        .search-results {
            position: static;
        }
    }
}
.search-form {
    width: 100%;
    height: 41px;
    position: relative;
    input {
        font-size: 18px;
        padding: 8px 58px 8px 22px!important;
        @media (max-width: $bp1) {
            font-size: 16px;
        }
        @media (max-width: $bp2) {
            padding: 8px 50px 8px 16px!important;
        }
        @media (max-width: $bp4) {
            padding: 8px 44px 8px 12px!important;
        }
    }
    button {
        position: absolute;
        right: 24px;
        top: calc(50% - 13px);
        svg {
            fill: $dark-blue;
            width: 24px;
            height: 24px;
        }
        @media (max-width: $bp2) {
            right: 16px;
        }
        @media (max-width: $bp4) {
            top: calc(50% - 14px);
            right: 12px;
        }
    }
}
.search-results {
    &__items {
        padding: 24px;
        border-radius: 16px;
        background: $white;
        box-shadow: 0px 4px 20px 0px rgba(146, 146, 146, 0.25);
        margin-top: 16px;
    }
    @media (max-width: $bp4)  {
        &__items {
            padding: 16px;
            margin-top: 8px;
        }
    }
}
.item-search {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0
    };
    .media-contain {
        flex: 0 0 120px;
        width: 120px;
        height: 94px;
        border-radius: 8px;
        border: 1px solid $powder-blue;
        margin-right: 16px;
    }
	&__content {
        flex: 1 1 auto;
        a {
            color: $dark-blue;
        }
    }
    @media (max-width: $bp6)  {
        .media-contain {
            flex: 0 0 80px;
            width: 80px;
            height: 67px;
            margin-right: 12px;
        }
    }
}