:root {--vh: 1%}
$bp1: 1550.98px;
$bp2: 1260.98px;
$bp3: 991.98px;
$bp4: 767.98px;
$bp5: 575.98px;
$bp6: 479.98px;
$bp7: 374.98px;
$maincolor: #14161B;
$dark-blue: #00359C;
$base-blue: #2667FF;
$light-blue: rgba($dark-blue, 0.08);
$powder-blue: rgba($dark-blue, 0.4);
$gray: #787878;
$light-gray: rgba(20, 22, 27, 0.50);
$white: #FFFFFF;
$black: #000000;
$red: #F80000;

